*{
    padding:0;
    margin:0;
}

main{
    font-family: sans-serif;
}

/*###############################################*/

#search-form-header{
    color: white;
    font-weight: 100;
    text-align: center;
    font-size: 2rem;
    padding-bottom: 0.5em;
}
.recipe-search-form{
    background-color: rgba(0, 0, 0, 0.6);
    gap: 0.5em;
    padding: 5vh 2vw;
}

.input-wrapper{
    text-align: center;
}

#food-input{
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 0.3rem;
    border-color:rgba(44, 30, 28, 0.3);
    color: white;
    text-align: center;
    font-size: 1.5rem;
}

#recipe-button{
    font-size: 1.5rem;
    border-radius: 0.3rem;
    padding: 0 10px;
}

/*###############################################*/
#recipe-result-numbers{
    padding: 1em;
}
ol{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    list-style-type: none;
    gap: 1em;
}
main > h3{
    text-align: center;
}


li{
    border: rgba(0, 0, 0, 0.0) 1px solid;
}
li:hover{
    border: rgba(0, 0, 0, 0.1) 1px solid;
}

.recipe-list{

}

.recipe-image{

}

.recipe-item{

}