*{
    padding:0;
    margin:0;
}
html{
    background-color:rgb(236, 240, 241);
}

main{
    font-family: sans-serif;
}

/*###############################################*/
.recipe-search-form{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    background-color: rgb(37, 64, 89);
    gap: 0.5em;
    padding: 5vh 2vw;
}

#search-form-header{
    color: #F2F2F2;
    font-weight: 100;
    text-align: center;
    font-size: 3rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#food-input{
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 0.3rem;
    border-color:rgba(44, 30, 28, 0.3);
    color: #F2F2F2;
    text-align: center;
    font-size: 1.5rem;
}

#recipe-button{
    font-size: 1.5rem;
    border-radius: 0.3rem;
    background-color: #F2F2F2;
}

/*###############################################*/
#recipe-result-numbers{
    padding: 1em;
    text-align: center;
}
ol{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    list-style-type: none;
    gap: 1em;
}
main > h3{
    text-align: center;
}

li{
    /* border: rgba(0, 0, 0, 0.0) 1px solid; */
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 1em;
    background-color:rgba(242, 242, 242,0.1);
}

/* li:hover{
    /* border: rgba(0, 0, 0, 0.1) 1px solid; */
    /* transform: translate3d(20px,0,0) scale(1.2);
    background-color: rgba(242, 242, 242,0.9); 
} 
*/

img{
    max-width: 200px;
}

.recipe-list{

}

.recipe-image{

}

.recipe-item{

}